.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem ($color-black, .15);


    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

  &__icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: all .3s;
    }

}
